{
  "root": true,
  "extends": ["@thesis-co"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "overrides": [
    {
      "files": ["**/*.test.ts", "**/*.spec.ts"],
      "rules": {
        "no-underscore-dangle": "off",
        "@typescript-eslint/naming-convention": "off",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/no-shadow": "off",
        "no-console": "off",
        "@typescript-eslint/no-unused-vars": "off"
      }
    },
    {
      "files": ["flows/**/*.ts"],
      "rules": {
        "no-await-in-loop": "off",
        "no-restricted-syntax": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "class-methods-use-this": "off",
        "no-console": "off",
        "func-names": "off"
      }
    }
  ]
}
