.anchor
.prettierrc.json
.DS_Store
/target/*
**/*.rs.bk
node_modules
test-ledger
artifacts-mainnet
artifacts-testnet
.env
.env.local
.env.*.local
!/target/idl/
!/target/idl/*

# Hardhat
/artifacts/
/build/
/cache/
/export/
/external/npm
/typechain/
/typechain-types/
/export.json
/deployments/*
!/deployments/sepolia/
!/deployments/mainnet/

# OZ
/.openzeppelin/unknown-*.json
!/.openzeppelin/unknown-42161.json
!/.openzeppelin/unknown-421613.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
coverage.json

# Generated docs
/generated-docs/
